.about {
	padding: 0px 0px 80px 0px;
	@media (max-width: $md4+px) {
		padding: 0px 0px 60px 0px;
	}

	@media (min-width: $md2+px) {
		display: flex;
		flex-direction: row-reverse;
	}

	@media (max-width: $md2+px) {
		display: flex;
		flex-direction: column-reverse;
	}

	&__content {
		@media (min-width: $md2+px) {
			flex: 0 0 100%;
			display: flex;
		}
	}

	&__container {
		display: flex;
		justify-content: flex-end;

		@media (max-width: $md4+px) {
			justify-content: center;
		}
	}

	&__body {
		@media (min-width: $md2+px) {
			width: 55%;
			align-self: center;
		}

		@media (max-width: $md2+px) {
			margin: -40px 0px 0px 0px;
		}
	}

	&__info {
		padding: 75px 65px;
		background: #fff;
		position: relative;
		z-index: 1;

		@media (max-width: $md2+px) {
			text-align: center;
			padding: 55px 45px;
		}

		@media (max-width: $md4+px) {
			padding: 30px 25px;
			max-width: 280px;
		}
	}

	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 64px !important;
		line-height: 71px;
		color: #00a377;
		margin: 0px 0px 30px 0px;

		@media (max-width: $md4+px) {
			font-size: 36px;
			margin: 0px 0px 0px 0px;
			color: #161616;
		}
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;

		color: #4f4f4f;

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__img {
	}
	&__arrow-b {
		a {
			width: 100%;
			height: 100%;
			&::after{
			content:url(../img/icons/arrow-b.svg);
			
		}
		}
		
		position: relative;
		top: -25px;
		left: 20%;
		background: #00a377;
		border-radius: 50%;
		width: 62px;
		height: 62px;
		z-index: 6;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			content: "";
			border-radius: 50%;
			position: absolute;
			width: 100%;
			height: 100%;
			background: #00a377;
			opacity: 0.8;
			-webkit-animation: pulse 2.5s both infinite;
			animation: pulse 2.5s both infinite;
			-webkit-animation-delay: 1s;
			animation-delay: 1s;
			z-index: -1;
		}
		
		@media (max-width:$md2+px){
			top: -25px;
			left: 50%;
			transform: translate(-30px,0px);
		}
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			min-height: 514px;

			@media (max-width: $md2+px) {
				max-height: 514px;
			}

			@media (max-width: $md4+px) {
				min-height: 310px;
				max-width: 300px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		@media (min-width: $md2+px) {
			flex: 0 0 50%;
			transform: translate(100%, 0px);
		}
		@media (max-width: $md4+px) {
			margin: 0 auto;
		}
	}
}
//========================================================================================================================================================
.history {
	position: relative;
	padding: 80px 0px;
	@media (max-width: $md4+px) {
		padding: 60px 0px;
	}
	&__container {
	}

	&__row {
		@media (min-width: $md2+px) {
			display: flex;
			justify-content: space-between;
		}

		@media (max-width: $md2+px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__column {
	}

	&__column-team {
		text-align: center;
		@media (min-width: $md4+px) {
			display: none;
		}

		img {
			height: 200px;
			width: 300px;

			max-width: 100%;
			max-height: 100%;

			margin: 0px 0px 30px 0px;
		}
	}

	&__column-info {
		max-width: 550px;
	}

	&__title {
		margin: 0px 0px 50px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__text {
		margin: 0px 0px 35px 0px;
		// padding: 0px 0px 35px 20px;
		position: relative;

		@media (max-width: $md2+px) {
			padding: 0px 0px 0px 30px;

			&::before {
				content: "";
				position: absolute;
				top: 3px;
				left: 0;

				width: 10px;
				height: 10px;

				background: #000;
				border-radius: 50%;
			}

			&::after {
				content: "";
				position: absolute;
				top: 25px;
				left: 4px;

				width: 1px;
				height: 100%;

				border-left: 1px dashed #000;
			}
		}

		@media (max-width: $md4+px) {
			max-width: 300px;
			margin: 0 auto 35px;
		}

		&:last-child {
			margin: 0px 0px 0px 0px;

			@media (max-width: $md4+px) {
				margin: 0 auto 35px;
			}
		}
	}

	&__image {
		display: flex;
		align-items: center;

		@media (max-width: $md2+px) {
			justify-content: center;
		}

		@media (max-width: $md4+px) {
			display: none;
		}
		&-m {
			transform: translate(35px, 0px);
		}

		img {
			max-width: 230px;
			max-height: 350px;
		}
	}
}
//========================================================================================================================================================
.together {
	padding: 80px 0px;
	@media (max-width: $md4+px) {
		padding: 20px 0px;
	}
	&__container {
	}

	&__title {
		margin: 0px 0px 70px 0px;
		@media (max-width: $md2+px) {
			margin: 0 0 50px 0;
		}
		@media (max-width: $md4+px) {
			margin: 0 0 40px 0;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;

		margin: -20px -20px;
	}

	&__column {
		padding: 20px 20px;
		flex: 0 1 25%;

		text-align: center;

		@media (max-width: $md1+px) {
			flex: 0 1 33.3333%;
		}

		@media (max-width: $md3+px) {
			flex: 0 1 50%;
		}

		@media (max-width: $md4+px) {
			flex: 0 1 100%;
		}
	}

	&__column-title {
		padding: 0px 0px 20px 0px;
		margin: 0px 0px 20px 0px;

		font-size: 40px;
		color: rgb(0, 163, 119);
		font-weight: 600;

		position: relative;

		max-height: 90px;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;

			height: 1px;
			width: 100%;

			background: #c3c4c7;
		}
	}

	&__column-text {
		font-size: 14px;
		line-height: 1.45;
		font-weight: 300;
		color: #000000;
	}
}
//========================================================================================================================================================
.team {
	padding: 90px 0px;

	@media (max-width: $md4+px) {
		padding: 70px 0px;
	}

	&__container {
	}

	&__title {
		margin: 0px 0px 70px 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 60px 0px;
		}
	}

	&__row {
		margin: -40px -80px;

		display: flex;
		flex-wrap: wrap;

		@media (max-width: $md1+px) {
			margin: -40px -40px;
		}

		@media (max-width: $md4+px) {
			margin: -25px -20px;
		}
	}

	&__column {
		padding: 40px 80px;

		flex: 0 1 25%;
		text-align: center;

		@media (max-width: $md1+px) {
			padding: 40px 40px;
		}
		@media (max-width: $md2+px) {
			flex: 0 1 33.333%;
		}

		@media (max-width: $md3+px) {
			flex: 0 1 50%;
		}

		@media (max-width: $md4+px) {
			padding: 25px 20px;
		}
	}

	&__image {
		margin: 0px 0px 30px 0px;

		img {
			width: 140px;
			height: 140px;

			max-width: 100%;
			max-height: 100%;

			object-fit: cover;

			border-radius: 50%;
		}
	}

	&__column-title {
		margin: 0px 0px 15px 0px;
	}

	&__column-text {
	}
}
//========================================================================================================================================================
.advantages {
	padding: 80px 0px;
	@media (max-width: $md4+px) {
		padding: 20px 0px;
	}
	display: flex;
	&__container {
		flex: 0 0 100%;
	}

	&__subtitle {
		margin: 0px 0px 10px 0px;
	}

	&__subtext {
		font-size: 18px;
		line-height: 28px;

		color: #4f4f4f;

		margin: 0px 0px 110px 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;
		}
	}

	&__row {
		display: flex;
	}

	&__inner {
	}

	&__column {
		&:hover {
			.advantages__title {
				&::before {
					width: 100%;
				}
			}
		}
	}

	&__column-info {
		margin: 0px 0px 70px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;
		}
	}

	&__title {
		font-family: Harabara Mais Demo;
		font-style: normal;
		font-weight: normal;
		;
		line-height: 24px;
		color: #4f4f4f;
		position: relative;
		padding: 0px 0px 20px 0px;
		margin: 0px 0px 20px 0px;

		&::before {
			content: "";
			width: 50%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #000;
			height: 4px;
			border-radius: 100px;
			transition: all 0.3s ease 0s;
		}
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;

		color: #848484;
	}

	&__image {
		width: 100%;
		height: 100%;

		object-fit: cover;
		transform: translate(155px, 0px);

		@media (max-width: $md1+px) {
			display: none;
		}
	}

	&__image-b {
		margin: 35px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
	}
}

._line-1 {
	&::before {
		background: #00a377;
	}
}

// ._line-2

._line-2 {
	&::before {
		background: #e74545;
	}
}

// ._line-3

._line-3 {
	&::before {
		background: #fac000;
	}
}

// ._line-4

._line-4 {
	&::before {
		background: #00a0c1;
	}
}

//========================================================================================================================================================
.Geography {
	padding: 90px 0px;
	@media (max-width: $md4+px) {
		padding: 70px 0px;
	}

	&__container {
	}

	&__title {
		margin: 0px 0px 70px 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;
		}
	}

	&__body {
	}

	&__image {
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
}
//========================================================================================================================================================
.reviews {
	padding: 80px 0px;
	@media (max-width: $md4+px) {
		padding: 20px 0px 120px;
	}
	&__container {
		position: relative;
	}

	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__row {
	}

	&__column {
	}

	&__arrow-prev {
		position: absolute;
		left: 0;
		bottom: 20%;

		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__arrow-next {
		position: absolute;
		bottom: 20%;
		right: 0;
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 50px 0;

		@media (max-width: $md4+px) {
			justify-content: flex-start;
		}
	}

	&__img {
		img {
			width: 72px;
			height: 72px;

			max-width: 100%;
			max-height: 100%;

			object-fit: cover;

			border-radius: 50%;

			@media (max-width: $md4+px) {
				width: 41px;
				height: 41px;
			}
		}
	}

	&__info {
		margin: 0px 0px 0px 15px;
	}

	&__subtitle {
		margin: 0px 0px 10px 0px;

		font-family: Harabara Mais Demo;
		font-weight: 700;
		font-size: 20px;
		line-height: 22px;
		color: #000000;
		@media (max-width: $md4+px) {
			margin: 0px 0px 5px 0px;
		}
	}

	&__subtext {
		font-style: italic;
		font-weight: normal;
		font-size: 14px;
		line-height: 120%;

		color: #00a377;
	}

	&__comment {
		position: relative;
		&::before {
			content: url(../img/icons/quotes.svg);
			position: absolute;
			top: -25px;
			left: 12%;
		}
	}

	&__text {
		max-width: 970px;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;

		color: #4f4f4f;

		margin: 0 auto;

		padding: 40px 145px;

		background: #ffffff;
		box-shadow: 0px 10px 20px rgba(47, 54, 69, 0.1);

		@media (max-width: $md1+px) {
			max-width: 870px;
		}

		@media (max-width: $md2+px) {
			max-width: 670px;
			padding: 40px 60px;
		}

		@media (max-width: $md4+px) {
			padding: 40px 20px;
		}
	}
}

//========================================================================================================================================================
