// footer{}
//====================================================================================================
.footer {
	background: #000;
	padding: 0px 0px 30px 0px;
	&__content {
		max-width: 1000px;

		@media (max-width:$md4+px){
			 padding: 0px 0px 0px 0px; 
		}
	}

	&__content-top {
		position: relative;
		transform: translateY(-50%);
	}

	&__content-body {
		margin: -80px 0px 65px 0px;
		padding: 0px 0px 60px 0px;
	}

	&__content-bottom {
		position: relative;
		@media (max-width: $md3+px) {
			margin: -50px 0px 0px 0px;
		}
	}

	&__content-arrow {
		position: absolute;
		top: -90px;
		left: 50%;
		transform: translate(5px);

		@media (max-width: $md3+px) {
			transform: translate(-25px);
		}

		img {
			width: 55px;
			height: 55px;
		}
	}
}

.top-footer {
	&__inner {
		@media (min-width: $md2+px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		padding: 55px 55px;
		background: #479f7a;

		@media (max-width: $md4+px) {
			padding: 45px 35px;
		}
	}

	&__info {
		flex: 0 1 440px;
	}

	&__title {
		font-size: 28px;
		line-height: 31px;

		color: #ffffff;
		margin: 0px 0px 20px 0px;

		@media (max-width: $md4+px) {
			font-size: 18px;
			margin: 0 0 10px 0;
		}
	}

	&__text {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;

		color: #ffffff;

		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}

	&__links {
		@media (max-width: $md2+px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
	}

	&__link {
		font-weight: bold;
		font-size: 16px;
		line-height: 120%;

		color: #000;

		padding: 20px 50px;

		background: #ffffff;

		border-radius: 35px;

		@media (max-width: $md2+px) {
			margin: 40px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			font-size: 14px;
			padding: 20px 20px;
			margin: 30px 0 0 0;
			width: 100%;
			text-align: center;
		}
	}
}
.body-footer {
	@media (max-width: $md3+px) {
		display: none;
	}
	&__items {
		display: flex;
	}

	&__item {
		margin: 0px 80px 0px 0px;
		&:nth-child(3) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
		}
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__title {
		font-size: 16px;
		color: #ffffff;

		margin: 0px 0px 10px 0px;
	}

	&__link {
		display: block;
		font-size: 14px;
		color: #ffffff;

		margin: 0px 0px 10px 0px;
	}

	&__info {
		display: flex;
		margin: 30px 0px 0px 0px;
	}

	&__text {
		font-size: 14px;
		color: #ffffff;
		flex: 0 1 75px;
		margin: 0px 30px 0px 0px;
	}

	&__links {
		a {
			display: block;
		}
	}

	&__email {
		font-size: 14px;
		color: #ffffff;
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__phone {
		font-size: 14px;
		color: #ffffff;
	}
}

.bottom-footer {
	&__inner {
		display: flex;
		justify-content: space-between;

		@media (max-width: $md3+px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__item {
	}

	&__copyright {
		font-size: 12px;
		color: #ffffff;

		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__img {
		position: relative;
		margin: 0px 45px 0px 0px;
		img {
			width: 18px;
			height: 18px;
			z-index: 5;
			position: relative;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: $md3+px) {
			margin: 0px 45px 30px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		&::before {
			content: "";
			position: absolute;

			top: -13px;
			left: -13px;

			background: #191919;

			width: 45px;
			height: 45px;

			border-radius: 50%;
		}
	}

	&__image {
		display: flex;
	}

	&__link {
		color: #ffffff;
	}
}

//========================================================================================================================================================
