// footer{}
//====================================================================================================
.footer {
	background: #000;
	&__content {
		max-width: 1000px;
	}

	&__content-top {
		position: relative;
		transform: translateY(-50%);
	}

	&__content-body {
	}
}

.top-footer {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 55px 55px;
		background: #479F7A;
	}

	&__info {
		flex: 0 1 440px;
	}

	&__title {
		font-size: 28px;
		line-height: 31px;

		color: #ffffff;
		margin: 0px 0px 20px 0px;
	}

	&__text {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;

		color: #ffffff;
	}

	&__links {
	}

	&__link {
		font-weight: bold;
		font-size: 16px;
		line-height: 120%;

		color: #000;

		padding: 20px 50px;

		background: #ffffff;

		border-radius: 35px;
	}
}
.body-footer {
	&__items {
		display: flex;
	}

	&__item {
		margin: 0px 80px 0px 0px;
		&:nth-child(3) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
		}
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__title {
		font-size: 16px;
		color: #ffffff;

		margin: 0px 0px 10px 0px;
	}

	&__link {
		display: block;
		font-size: 14px;
		color: #ffffff;

		margin: 0px 0px 10px 0px;
	}

	&__info {
		display: flex;
		margin: 30px 0px 0px 0px;
	}

	&__text {
		font-size: 14px;
		color: #ffffff;
		flex: 0 1 75px;
		margin: 0px 30px 0px 0px;
	}

	&__links {
		a {
			display: block;
		}
	}

	&__email {
		font-size: 14px;
		color: #ffffff;
		margin: 0px 0px 10px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__phone {
		font-size: 14px;
		color: #ffffff;
	}
}

//========================================================================================================================================================
