.message {
	margin: -20px 0px 0px 0px;
	position: relative;
	&__container {
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;

		color: #4f4f4f;

		p {
			margin: 0px 0px 35px 0px;
		}
	}

	&__row {
	}

	&__column {
	}
}
.cards-2{
	padding: 170px 0px 130px 0px;

	@media (max-width:$md2+px){
		padding: 120px 0px;
	}

	@media (max-width:$md4+px){
		padding: 90px 0px;
	}
}
//========================================================================================================================================================
.insights {
	margin: -120px 0px 0px 0px;

	@media (max-width:$md4+px){
		margin: -90px 0px 0px 0px;
	}
}

