//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext


@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Trebuchet MS";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1130;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #E5E5E5;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "how-we-work";
@import "blog";
@import "post";
@import "about";
@import "case-studies";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	padding-top: 71px;
	@media (max-width:$md3+px){
		padding-top: 20px;  
	}
}
//===================================================================================================================================

._title{
	@include adaptiv-font(28,24,1);
	font-family: Harabara Manis Demo;
	font-weight: 400;
	line-height: 31px;
}

._btn{
	&:hover{
		background: #028b67;
		transition: all 0.3s ease 0s;
	}
}

.button-prev{
	
	
&::before{
	content:url(../img/page1/arrow-slider.svg);
	transform: rotate(180deg);
	width: 15px;
	height: 15px;
	display: block;
}
}
.button-next{
&::before{
	content:url(../img/page1/arrow-slider.svg);
	transform: rotate(0deg);
	width: 15px;
	height: 15px;
	display: block;
}
}



.breadcrumbs {
	margin:70px 0 60px 0 ;
		&__item {
			font-size: 14px;
		}
		&__list {
			color: #4F4F4F;
			display: flex;
		}
		&__link {
			color: #4F4F4F;
			
			&::after{
				content:url(../img/icons/bread-arrow.svg);
				margin:0 12px;
			}
		}
		@media (max-width:$md2+px){
			margin:70px 0 30px 0 ;
		}
}

._link{
	position: relative;
				&::after{
				content:url(../img/page1/partner-arrow.svg);
				position: absolute;
				right: -25px;
					bottom: 0;
					transition: all 0.3s ease 0s;
			}
			&:hover{
				&:after{
					transition: all 0.3s ease 0s;
					right: -30px;
				}
			}
}

._tag{
	background: #00A377;
	border: 1px solid #00A377;
	color: white;
	padding: 6px 11px;
	border-radius: 100px;
	font-weight: 700;
	font-size: 8px;
	line-height: 10px;
	transition: all 0.3s ease 0s;
	cursor: default;
	display: inline-block;
	&:hover{
		background: #fff;
		color: #00A377;
	}
}

._date{
	display: flex;
	align-items: center;
	&::before{
		content:url(../img/icons/date.svg);
		margin-right: 8px;
	}
}


._pagination{
	margin-right: 5px;
	max-width: 43px;
	max-height: 43px;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid#A0A0A0;
	display: flex;
	justify-content:center;
	align-items: center;
	transition: all 0.3s ease 0s;
	&._active{
				border: 1px solid#00A377;
		background: #00A377;
		
		a{
			color: #fff;

		}
	}
	&:hover{
		border: 1px solid#00A377;
		background: #00A377;
		
		a{
			color: #fff;
			img{
			content: url(../img/icons/bread-arrow-white.svg);
			}
		}
	}
	a{
		padding: 20px 20px;
		position: relative;
		color: #A0A0A0;
		img{
			position: absolute;
			top: 40%;
			left: 30%;
			
		}
	}
}
.pagination{
	margin-bottom: 50px;
}
._pagination-dots{
	display: flex;
	align-items: flex-end;
	
	a{
		color: #A0A0A0;;
	}
}

._hidden{
	display: none;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
._pulse{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	&::before{
		content:'';
		border-radius: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		background: #00A377;
		opacity: 0.8;
		-webkit-animation: pulse 2.5s both infinite;
	        animation: pulse 2.5s both  infinite;
			  animation-delay: 1s;
			  z-index: -1;
			
	}
}


@-webkit-keyframes pulse {
  0% {
    width: 100%;
	 height: 100%;
	 opacity: 1;
  }

  100% {
     width: 200%;
	 height: 200%;
	 opacity: 0;
			
  }
}
@keyframes pulse {
  0% {
    width: 100%;
	 height: 100%;
	 opacity: 1;
  }

  100% {
     width: 200%;
	 height: 200%;
	 opacity: 0;
  }
  
}


@-webkit-keyframes pulse-big {
  0% {
    width: 100%;
	 height: 100%;
	 opacity: 1;
  }

  70% {
     width: 300%;
	 height: 300%;
	 opacity: 0;
	 
  }
   100% {
     width: 200%;
	 height: 200%;
	 opacity: 0;
  }
}
@keyframes pulse-big {
  0% {
    width: 100%;
	 height: 100%;
	 opacity: 1;
  }

  70% {
     width: 300%;
	 height: 300%;
	 opacity: 0;
	 
  }
   100% {
     width: 200%;
	 height: 200%;
	 opacity: 0;
  }
}