.about {
	padding: 0px 0px 80px 0px;
	@media (max-width: $md4+px) {
		padding: 0px 0px 60px 0px;
	}

	@media (min-width: $md2+px) {
		display: flex;
		flex-direction: row-reverse;
	}

	@media (max-width: $md2+px) {
		display: flex;
		flex-direction: column-reverse;
	}

	&__content {
		@media (min-width: $md2+px) {
			flex: 0 0 100%;
			display: flex;
		}
	}

	&__container {
		display: flex;
		justify-content: flex-end;

		@media (max-width: $md4+px) {
			justify-content: center;
		}
	}

	&__body {
		@media (min-width: $md2+px) {
			width: 55%;
			align-self: center;
		}

		@media (max-width: $md2+px) {
			margin: -40px 0px 0px 0px;
		}
	}

	&__info {
		padding: 45px 55px;
		background: #fff;
		position: relative;
		z-index: 1;

		@media (max-width: $md2+px) {
			text-align: center;
			padding: 55px 45px;
		}

		@media (max-width: $md4+px) {
			padding: 30px 25px;
			max-width: 280px;
		}
	}

	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 64px !important;
		line-height: 60px !important;
		color: #00a377;
		margin: 0px 0px 30px 0px;

		@media (max-width: $md4+px) {
			font-size: 36px !important;
			line-height: 40px !important;
			margin: 0px 0px 20px 0px;
			color: #00a377;
		}
	}

	&__text {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;

		color: #4f4f4f;

		margin: 0px 0px 30px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__img {
	}
	&__arrow-b {
		a {
			width: 100%;
			height: 100%;
			&::after {
				content: url(../img/icons/arrow-b.svg);
			}
		}

		position: relative;
		top: -25px;
		left: 20%;
		background: #00a377;
		border-radius: 50%;
		width: 62px;
		height: 62px;
		z-index: 6;
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			content: "";
			border-radius: 50%;
			position: absolute;
			width: 100%;
			height: 100%;
			background: #00a377;
			opacity: 0.8;
			-webkit-animation: pulse 2.5s both infinite;
			animation: pulse 2.5s both infinite;
			-webkit-animation-delay: 1s;
			animation-delay: 1s;
			z-index: -1;
		}

		@media (max-width: $md2+px) {
			top: -25px;
			left: 50%;
			transform: translate(-30px, 0px);
		}
	}

	&__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			min-height: 514px;

			@media (max-width: $md2+px) {
				max-height: 514px;
			}

			@media (max-width: $md4+px) {
				min-height: 310px;
				max-width: 300px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		@media (min-width: $md2+px) {
			flex: 0 0 50%;
			transform: translate(100%, 0px);
		}
		@media (max-width: $md4+px) {
			margin: 0 auto;
		}
	}
}

//========================================================================================================================================================
.goals {
	padding: 50px 0px;

	&__body {
		padding: 55px 45px 15px;

		max-width: 840px;
		background: #ffffff;
		box-shadow: 0px 10px 20px rgba(47, 54, 69, 0.1);

		@media (max-width: $md4+px) {
			padding: 55px 45px 15px;
		}

		@media (max-width: 320px) {
			padding: 55px 25px 15px;
		}
	}
	&__container {
	}

	&__title {
		margin: 0px 0px 45px 0px;
		position: relative;

		span {
			position: absolute;
			width: 16px;
			height: 16px;
			background: #00a377;
			border-radius: 50%;
			top: -63px;
			left: 0;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__column {
		flex: 0 1 50%;
		margin: 0px 0px 40px 0px;
	}

	&__text {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		max-width: 259px;

		color: #4f4f4f;
		padding: 0px 0px 0px 10px;

		border-left: 4px solid #00a377;
	}
}

//========================================================================================================================================================
.solution {
	padding: 120px 0px;
	@media (max-width: $md4+px) {
		padding: 50px 0px;
	}

	position: relative;
	z-index: 5;
	&::before {
		content: url(../img/success/success01.png);
		position: absolute;
		z-index: 10;
		top: -80%;
		right: 0;

		@media (max-width: $md1+px) {
			display: none;
		}
	}

	&__container {
	}

	&__row {
		display: flex;

		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__column {
		padding: 55px 100px 55px 0px;
		width: 100%;
		background: #00a377;
		margin: 0px 0px 15px 0px;

		@media (min-width: $md3+px) {
			margin: 0px 16px 0px 0px;
			position: relative;
			z-index: 5;
		}

		@media (max-width: $md2+px) {
			padding: 55px 50px 55px 0px;
		}

		@media (max-width: $md3+px) {
			padding: 50px 50px;
		}

		@media (max-width: $md4+px) {
			padding: 50px 25px;
		}

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (min-width: $md3+px) {
			&:nth-child(1) {
				&::before {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					z-index: 1;
					width: 1000%;
					height: 100%;
					background: #00a377;
				}
			}
			&:nth-child(2) {
				padding: 55px 0px 55px 100px;

				@media (max-width: $md2+px) {
					padding: 55px 0px 55px 50px;
				}
				@media (max-width: $md3+px) {
					padding: 50px 0px;
				}
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 1000%;
					height: 100%;
					background: #00a377;
				}
			}
		}
	}

	&__info {
		@media (min-width: $md3+px) {
			max-width: 450px;
			position: relative;
			z-index: 5;
		}
	}

	&__title {
		color: #fff;
		margin: 0px 0px 25px 0px;

		@media (max-width: 320px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__text {
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;

		color: #ffffff;
	}
}

//========================================================================================================================================================
.spollers {
	padding: 80px 0px;
	@media (max-width: $md4+px) {
		padding: 40px 0px;
	}
	&__container {
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -16px;

		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__item {
		padding: 0px 16px;
		flex: 0 1 50%;
	}

	&__column {
		position: relative;
		padding: 30px 0px 30px 0px;

		@media (max-width: $md4+px) {
			padding: 20px 0px 20px 0px;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: #c4c4c4;
			opacity: 0.3;
		}
	}

	&__title {
		position: relative;
		cursor: pointer;
		font-size: 24px;
		@media (max-width: $md4+px) {
			font-size: 18px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(0, -3px);
			right: 0;
			width: 10px;
			height: 3px;
			background: #00a377;
			transition: all 0.3s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			top: 40.5%;
			transform: rotate(90deg);
			right: 0;
			width: 10px;
			height: 3px;
			background: #00a377;
			transition: all 0.3s ease 0s;
		}
		&._active {
			&::after {
				content: "";
				transform: rotate(0deg);
			}
		}
	}

	&__text {
		max-width: 450px;
		display: none;
		font-weight: bold;
		font-size: 14px;
		line-height: 22px;

		color: #222222;
		p {
			margin: 30px 0px 0px 0px;
			@media (max-width: $md4+px) {
				margin: 20px 0px 0px 0px;
				&:first-child {
					margin: 5px 0px 0px 0px;
				}
			}
		}

		@media (max-width: $md4+px) {
			font-weight: 600;
		}
	}
}

//========================================================================================================================================================
.results {
	padding: 90px 0px;
	position: relative;
	@media (max-width: $md4+px) {
		padding: 50px 0px;
	}
	&__container {
	}

	&__pulse {
		position: absolute;
		@media (max-width: 1300px) {
			position: absolute;
			right: 0;
			top: 40%;
			._pulse {
				position: relative;
				width: 230px;
				height: 230px;
				background: #00a377;
				border-radius: 50%;
				left: calc(100% - 130px);
				top: 0;
			}
		}

		@media (min-width: 1430px) {
			left: 0;
			top: 50%;
			._pulse {
				position: relative;
				width: 230px;
				height: 230px;
				background: #00a377;
				border-radius: 50%;
				left: calc(100% - 355px);
				top: 0;
			}
		}

		@media (max-width: $md2+px) {
			display: none;
		}
	}

	&__subtitle {
		font-size: 64px !important;
		margin: 0px 0px 45px 0px;

		@media (max-width: $md4+px) {
			font-size: 36px !important;
			margin: 0px 0px 10px 0px;
		}
	}

	&__subtext {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;

		color: #4f4f4f;
		max-width: 650px;
		margin: 0px 0px 110px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;

			font-size: 14px;
		}
	}

	&__text {
		max-width: 925px;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;

		color: #4f4f4f;
		margin: 0px 0px 75px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;
		}
	}

	&__body {
		@media (min-width: $md1+px) {
			display: flex;
		}

		@media (max-width: 1300px) {
			display: block;
		}
	}

	&__content {
		@media (min-width: 1300px) {
			flex: 0 1 500px;
			padding: 0px 50px 0px 90px;
		}
	}

	&__inner {
	}

	&__info {
		position: relative;
		padding: 0px 0px 0px 45px;
		margin: 0px 0px 70px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 40px 0px;
		}

		&::before {
			content: "";
			background: url(../img/success/results02.svg);
			position: absolute;
			top: 3px;
			left: 0;
			width: 20px;
			height: 20px;
		}
	}

	&__title {
		@media (min-width: $md1+px) {
			max-width: 370px;
		}

		max-width: 550px;

		font-size: 24px !important;
		color: #4f4f4f;
		margin: 0px 0px 15px 0px;

		@media (max-width: $md4+px) {
			font-size: 20px !important;
			margin: 0px 0px 10px 0px;
		}

		@media (max-width: 320px) {
			font-size: 18px !important;
		}
	}

	&__suptext {
		@media (min-width: $md1+px) {
			max-width: 370px;
		}
		max-width: 650px;

		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 120%;

		color: #4f4f4f;
	}

	&__image {
		@media (max-width: 1300px) {
			img {
				width: 100%;
				object-fit: cover;
			}
		}

		@media (min-width: $md1+px) {
			img {
				max-height: 100%;
				max-width: 100%;

				width: 801px;
				height: 331px;

				object-fit: cover;
			}
		}
	}
}

//========================================================================================================================================================
.clients {
	// .clients__container

	&__container {
		position: relative;
		margin-top: 40px;
		margin-bottom: 100px;
		@media (max-width: $md3+px) {
			margin-top: 80px;
		}
		@media (max-width:$md4+px){
			margin-top: 40px;
			margin-bottom: 70px;
		}
	}

	// .clients__title

	&__title {
		margin-bottom: 10px;
	}

	// .clients__row

	&__row {
		display: flex;
		position: relative;
		margin-top: 60px;
		@media (max-width: $md3+px) {
			margin-top: 40px;
		}
		@media (max-width: $md4+px) {
			justify-content: center;
			align-items: center;
		}
		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			@media (max-width: $md4+px) {
				max-height: 200px;
			}

			img {
				max-width: 100%;
				object-fit: contain;
				-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
				filter: grayscale(100%);
				&:hover {
					-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
					filter: grayscale(0%);
					transition: all 0.3s ease 0s;
				}
				@media (max-width: $md3+px) {
					max-width: 100%;
					max-height: 100%;
				}
				@media (max-width: $md4+px) {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	
}

//========================================================================================================================================================
.reviews {
	padding: 80px 0px;
	@media (max-width: $md4+px) {
		padding: 20px 0px 120px;
	}
	&__container {
		position: relative;
	}

	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__row {
	}

	&__column {
	}

	&__arrow-prev {
		position: absolute;
		left: 0;
		bottom: 20%;

		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__arrow-next {
		position: absolute;
		bottom: 20%;
		right: 0;
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 50px 0;

		@media (max-width: $md4+px) {
			justify-content: flex-start;
		}
	}

	&__img {
		img {
			width: 72px;
			height: 72px;

			max-width: 100%;
			max-height: 100%;

			object-fit: cover;

			border-radius: 50%;

			@media (max-width: $md4+px) {
				width: 41px;
				height: 41px;
			}
		}
	}

	&__info {
		margin: 0px 0px 0px 15px;
	}

	&__subtitle {
		margin: 0px 0px 10px 0px;

		font-family: Harabara Mais Demo;
		font-weight: 700;
		font-size: 20px;
		line-height: 22px;
		color: #000000;
		@media (max-width: $md4+px) {
			margin: 0px 0px 5px 0px;
		}
	}

	&__subtext {
		font-style: italic;
		font-weight: normal;
		font-size: 14px;
		line-height: 120%;

		color: #00a377;
	}

	&__comment {
		position: relative;
		&::before {
			content: url(../img/icons/quotes.svg);
			position: absolute;
			top: -25px;
			left: 12%;
		}
	}

	&__text {
		max-width: 970px;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;

		color: #4f4f4f;

		margin: 0 auto;

		padding: 40px 145px;

		background: #ffffff;
		box-shadow: 0px 10px 20px rgba(47, 54, 69, 0.1);

		@media (max-width: $md1+px) {
			max-width: 870px;
		}

		@media (max-width: $md2+px) {
			max-width: 670px;
			padding: 40px 60px;
		}

		@media (max-width: $md4+px) {
			padding: 40px 20px;
		}
	}
}

//========================================================================================================================================================
