@charset "UTF-8";

@font-face {
  font-family: "Trebuchet MS";
  font-display: swap;
  src: url("../fonts/9412.woff") format("woff"), url("../fonts/9412.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Harabara Manis Demo";
  font-display: swap;
  src: url("../fonts/Harabara_Mais_Demo.woff") format("woff"), url("../fonts/Harabara_Mais_Demo.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Trebuchet MS italic";
  font-display: swap;
  src: url("../fonts/ofont.ru_Trebuchet_MS.woff") format("woff"), url("../fonts/ofont.ru_Trebuchet_MS.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Trebuchet MS";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Trebuchet MS";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E5E5E5;
}

._container {
  max-width: 1130px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: #fff;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
  max-height: 1135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
}

.header__logo {
  z-index: 99;
}

.header__logo img {
  width: 161px;
  height: 47px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.menu__link {
  position: relative;
  color: #4F4F4F;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 19px;
}

.menu__link:hover {
  color: #00A377;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__btn {
  padding: 12px 40px;
  background: #00A377;
  border-radius: 100px;
  color: white;
}

.menu__btn:hover {
  color: #fff;
}

.more-container {
  padding-right: 10px;
  position: relative;
}

.more-container::before {
  content: '';
  border: 3px solid transparent;
  border-top: 6px solid #4F4F4F;
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 1.5px);
  right: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.more-container._active::before {
  content: '';
  border: 3px solid transparent;
  border-bottom: 6px solid #4F4F4F;
  top: calc(50% - 5px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__more {
  opacity: 1;
  visibility: visible;
  position: absolute;
  bottom: -155px;
  display: none;
}

.menu__more-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 18px;
}

.menu__more-inner::before {
  content: '';
  border: 9px solid transparent;
  border-bottom: 14px solid #fff;
  top: -17px;
  left: 22px;
  position: absolute;
}

.icon-menu {
  display: none;
}

.footer {
  background: #000;
  padding: 0px 0px 30px 0px;
  margin-top: 150px;
}

.footer__content {
  max-width: 1000px;
}

.footer__content-top {
  position: relative;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__content-body {
  margin: -80px 0px 65px 0px;
  padding: 0px 0px 60px 0px;
}

.footer__content-bottom {
  position: relative;
}

.footer__content-arrow {
  position: absolute;
  top: -90px;
  left: 50%;
  -webkit-transform: translate(5px);
      -ms-transform: translate(5px);
          transform: translate(5px);
}

.footer__content-arrow img {
  width: 55px;
  height: 55px;
}

.top-footer__inner {
  padding: 55px 55px;
  background: #479f7a;
}

.top-footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 440px;
          flex: 0 1 440px;
}

.top-footer__title {
  font-size: 28px;
  line-height: 31px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.top-footer__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.top-footer__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #000;
  padding: 20px 50px;
  background: #ffffff;
  border-radius: 35px;
}

.body-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-footer__item {
  margin: 0px 80px 0px 0px;
}

.body-footer__item:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px 0px;
}

.body-footer__item:last-child {
  margin: 0px 0px 0px 0px;
}

.body-footer__title {
  font-size: 16px;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

.body-footer__link {
  display: block;
  font-size: 14px;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

.body-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px 0px 0px;
}

.body-footer__text {
  font-size: 14px;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75px;
          flex: 0 1 75px;
  margin: 0px 30px 0px 0px;
}

.body-footer__links a {
  display: block;
}

.body-footer__email {
  font-size: 14px;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

.body-footer__email:last-child {
  margin: 0px 0px 0px 0px;
}

.body-footer__phone {
  font-size: 14px;
  color: #ffffff;
}

.bottom-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-footer__item {
  margin: 0px 0px 20px 0px;
}

.bottom-footer__copyright {
  font-size: 12px;
  color: #ffffff;
}

.bottom-footer__img {
  position: relative;
  margin: 0px 45px 0px 0px;
}

.bottom-footer__img img {
  width: 18px;
  height: 18px;
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__img::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -13px;
  background: #191919;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.bottom-footer__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__link {
  color: #ffffff;
}

.fullcreen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.fullcreen__column {
  max-width: 400px;
  margin-right: 200px;
}

.fullcreen__column:last-child {
  margin-right: 0px;
}

.fullcreen__title {
  text-transform: uppercase;
  max-width: 400px;
  margin-bottom: 22px;
}

.fullcreen__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullcreen__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
  line-height: 30px;
}

.fullcreen__item:nth-child(1) {
  -webkit-animation: bounce-in-top 0.5s both;
  animation: bounce-in-top 0.5s both;
}

.fullcreen__item:nth-child(2) {
  -webkit-animation: bounce-in-top 0.5s both;
  animation: bounce-in-top 0.5s both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.fullcreen__item:nth-child(3) {
  -webkit-animation: bounce-in-top 0.5s both;
  animation: bounce-in-top 0.5s both;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.fullcreen__item::before {
  content: url(../img/page1/fullcreen-2.svg);
  margin-right: 8px;
  margin-top: 2px;
}

.fullcreen__btn {
  margin-top: 88px;
}

.fullcreen__link {
  padding: 12px 40px;
  background: #00A377;
  border-radius: 100px;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partner {
  background: #00A377;
}

.partner__container {
  max-width: 940px;
}

.partner__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__column:last-child {
  margin-left: 85px;
}

.partner__info {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1120));
  line-height: 28px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.partner__link {
  padding-top: 25px;
  color: #fff;
  position: relative;
}

.partner__link::after {
  content: url(../img/page1/partner-arrow.svg);
  position: absolute;
  right: -25px;
  bottom: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partner__link:hover:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: -30px;
}

.pluses__container {
  margin-top: 170px;
}

.pluses__title {
  margin-bottom: 70px;
}

.pluses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 31px;
}

.pluses__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 75px 35px 0px;
  background: #fff;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pluses__image {
  background: #00A377;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -31px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.pluses__image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 24px;
  height: 24px;
}

.pluses__info {
  max-width: 280px;
  margin-left: 42px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  line-height: 28px;
  font-weight: 600;
}

.services {
  position: relative;
}

.services__container {
  margin-top: 170px;
}

.services__title {
  margin-bottom: 50px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-bottom: 70px;
}

.services__column:hover .services__subtitle::before {
  width: 100%;
}

.services__subtitle {
  font-family: Harabara Manis Demo;
  font-weight: 400;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1120));
  padding-bottom: 18px;
  position: relative;
  z-index: 3;
}

.services__subtitle::before {
  content: '';
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  height: 4px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__info {
  margin-top: 18px;
  color: #848484;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  line-height: 28px;
  z-index: 3;
  position: relative;
}

.services__pulse {
  position: absolute;
  right: 0;
  top: 0;
}

.services__pulse ._pulse {
  position: relative;
  width: 150px;
  height: 150px;
  background: #00A377;
  border-radius: 50%;
  left: calc(100% - 75px);
  top: 0px;
}

.services__pulse ._pulse::before {
  -webkit-animation: pulse-big 5s both infinite;
  animation: pulse-big 5s both  infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

._line-1::before {
  background: #00A377;
}

._line-2::before {
  background: #E74545;
}

._line-3::before {
  background: #FAC000;
}

._line-4::before {
  background: #00A0C1;
}

.benefits {
  position: relative;
}

.benefits__container {
  margin-top: 170px;
}

.benefits__title {
  z-index: 2;
  position: relative;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.benefits__row::before {
  content: '';
  z-index: 1;
  position: absolute;
  background: #00A377;
  width: 60%;
  height: 85%;
  bottom: 0;
  left: 0;
}

.benefits__column {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.benefits__img {
  margin-right: 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__info {
  color: white;
  font-size: 18px;
  line-height: 28px;
}

.benefits__image-big {
  position: absolute;
  bottom: 0;
  right: 0;
}

.clients__container {
  position: relative;
  margin-top: 170px;
  margin-bottom: 100px;
}

.clients__title {
  margin-bottom: 10px;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 60px;
}

.subtitle {
  font-size: 16px;
  line-height: 28px;
  color: #4F4F4F;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.swiper-slide img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.clients__arrow-prev {
  position: absolute;
  bottom: 35px;
  left: -20px;
}

.clients__arrow-next {
  position: absolute;
  bottom: 35px;
  right: -20px;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.hww__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hww__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  padding: 60px 48px 75px 32px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hww__column:nth-child(2) .hww__info::before {
  background: #FAC000;
  height: 80%;
  top: 5px;
}

.hww__column:nth-child(2) .hww__title span {
  background: #FAC000;
}

.hww__column:nth-child(2) .hww__title span::before {
  background: #FAC000;
}

.hww__column:nth-child(3) .hww__info::before {
  background: #E74545;
  height: 94%;
  top: 5px;
}

.hww__column:nth-child(3) .hww__title span {
  background: #E74545;
}

.hww__column:nth-child(3) .hww__title span::before {
  background: #E74545;
}

.hww__title {
  margin-bottom: 8px;
  position: relative;
}

.hww__title span {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #4299B6;
  border-radius: 50%;
  top: -68px;
  left: 0;
}

.hww__title span::before {
  background: #4299B6;
  -webkit-animation: pulse 1.7s both infinite;
  animation: pulse 1.7s both  infinite;
}

.hww__subtitle {
  line-height: 20px;
  font-size: 12px;
  color: #A0A0A0;
  margin-bottom: 20px;
}

.hww__inner {
  justify-self: flex-start;
  max-width: 260px;
}

.hww__info {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 16px;
  position: relative;
  color: #4F4F4F;
}

.hww__info::before {
  content: '';
  position: absolute;
  height: 80%;
  width: 4px;
  background: #4299B6;
  left: 0;
  top: 5px;
}

.hww__coment {
  margin-top: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: Trebuchet MS italic;
  justify-self: flex-end;
}

.hww__note {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 130px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 71px;
}

._title {
  font-size: 28px;
  font-family: Harabara Manis Demo;
  font-weight: 400;
  line-height: 31px;
}

._btn:hover {
  background: #028b67;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-prev::before {
  content: url(../img/page1/arrow-slider.svg);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 15px;
  height: 15px;
  display: block;
}

.button-next::before {
  content: url(../img/page1/arrow-slider.svg);
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 15px;
  height: 15px;
  display: block;
}

.breadcrumbs {
  margin: 70px 0 60px 0;
}

.breadcrumbs__item {
  font-size: 14px;
}

.breadcrumbs__list {
  color: #4F4F4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__link {
  color: #4F4F4F;
}

.breadcrumbs__link::after {
  content: url(../img/icons/bread-arrow.svg);
  margin: 0 12px;
}

._pulse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

._pulse::before {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00A377;
  opacity: 0.8;
  -webkit-animation: pulse 2.5s both infinite;
  animation: pulse 2.5s both  infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  z-index: -1;
}

@-webkit-keyframes pulse {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@-webkit-keyframes pulse-big {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  70% {
    width: 300%;
    height: 300%;
    opacity: 0;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes pulse-big {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  70% {
    width: 300%;
    height: 300%;
    opacity: 0;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .top-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1142px) {
  ._container {
    max-width: 970px;
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .fullcreen__column {
    margin-right: 180px;
  }

  .pluses__image {
    margin-left: -31px;
  }

  .services__pulse {
    width: 100px;
    height: 100px;
    top: 0;
  }

  .clients__arrow-prev {
    bottom: 30px;
  }

  .clients__arrow-next {
    bottom: 30px;
  }
}

@media (max-width: 1130px) {
  .benefits__info {
    font-size: calc(16px + 2 * ((100vw - 320px) / 810));
  }

  .subtitle {
    font-size: calc(14px + 2 * ((100vw - 320px) / 810));
  }

  ._title {
    font-size: calc(24px + 4 * ((100vw - 320px) / 810));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header {
    position: fixed;
  }

  .header__content {
    margin-top: 18px;
    max-width: 100%;
  }

  .header__logo img {
    margin-left: 15px;
  }

  .menu__body {
    display: none;
    position: absolute;
    left: 0;
    max-width: 100%;
    overflow: hidden;
  }

  .menu__body._active {
    display: block;
    visibility: visible;
    top: 70px;
    height: calc(100vh - 65px);
    background: #E5E5E5;
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    z-index: 99;
  }

  .menu__body._active .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-top: 0;
  }

  .menu__body._active ~ .header__logo {
    position: absolute;
    z-index: 99;
  }

  .menu__list {
    padding-top: 20px;
    top: 0;
    left: 0;
  }

  .menu__list li {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 163, 119, 0.08);
    padding: 15px 0px 15px 40px;
  }

  .menu__list li:last-child {
    display: none;
  }

  .menu__link {
    text-transform: uppercase;
  }

  .menu__btn {
    display: none;
  }

  .menu__more {
    position: inherit;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  .menu__more .menu__link {
    text-transform: none;
    color: #878787;
    font-size: 14px;
    margin-top: 10px;
  }

  .menu__more-inner::before {
    display: none;
  }

  .menu__more-inner {
    background: transparent;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 32px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #00A377;
    border-radius: 100px;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: -2px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 3px);
  }

  .top-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .top-footer__link {
    margin: 40px 0px 0px 0px;
  }

  .fullcreen__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 33px;
  }

  .fullcreen__column:last-child {
    max-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fullcreen__column {
    margin-right: 0px;
    width: 100%;
    max-width: 1000%;
    padding: 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fullcreen__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .fullcreen__subtitle {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fullcreen__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fullcreen__btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .fullcreen__image {
    height: 300px;
  }

  .pluses__row {
    padding: 0px 0px 0px 31px;
  }

  .pluses__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__pulse {
    display: none;
  }

  .hww__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hww__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 65px;
  }
}

@media (max-width: 991.98px) and (max-width: 479.98px) {
  .menu__body._active {
    top: 65px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__content {
    padding-bottom: 12px;
  }

  .header__logo img {
    width: 120px;
    height: 35px;
  }

  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .footer__content-bottom {
    margin: -50px 0px 0px 0px;
  }

  .footer__content-arrow {
    -webkit-transform: translate(-25px);
        -ms-transform: translate(-25px);
            transform: translate(-25px);
  }

  .body-footer {
    display: none;
  }

  .bottom-footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-footer__copyright {
    margin: 0px 0px 20px 0px;
  }

  .bottom-footer__img {
    margin: 20px 45px 30px 0px;
  }

  .bottom-footer__img:last-child {
    margin: 20px 0px 0px 0px;
  }

  .fullcreen__column {
    padding: 0px 10px;
  }

  .fullcreen__title {
    max-width: 100%;
    line-height: 26px;
  }

  .fullcreen__title {
    max-width: 400px;
    margin-top: 20px;
  }

  .fullcreen__subtitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .fullcreen__btn {
    margin-top: 10%;
  }

  .partner__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .partner__image {
    width: 122px;
  }

  .partner__column:last-child {
    margin-left: 0px;
  }

  .partner__info {
    margin-bottom: 20px;
    line-height: 20px;
  }

  .partner__link {
    margin-top: 20px;
  }

  .pluses__container {
    margin-top: 80px;
  }

  .pluses__title {
    margin-bottom: 40px;
  }

  .pluses__image {
    width: 44px;
    height: 44px;
    padding: 4px;
  }

  .pluses__info {
    line-height: 24px;
  }

  .services__container {
    margin-top: 80px;
  }

  .services__title {
    margin-bottom: 40px;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .services__column {
    margin-bottom: 40px;
  }

  .services__info {
    line-height: 24px;
  }

  .benefits__container {
    margin-top: 80px;
  }

  .benefits__row::before {
    width: 100%;
  }

  .benefits__row {
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .benefits__img {
    margin-right: 10px;
  }

  .benefits__info {
    line-height: 20px;
  }

  .benefits__image-big {
    display: none;
  }

  .clients__container {
    margin-top: 80px;
  }

  .clients__row {
    margin-top: 40px;
  }

  .subtitle {
    line-height: 20px;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 479.98px) {
  .footer {
    margin-top: 150px;
  }

  .footer__content {
    padding: 0px 0px 0px 0px;
  }

  .top-footer__inner {
    padding: 45px 35px;
  }

  .top-footer__title {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .top-footer__text {
    font-size: 14px;
  }

  .top-footer__link {
    font-size: 14px;
    padding: 20px 20px;
    margin: 30px 0 0 0;
    width: 100%;
    text-align: center;
  }

  .fullcreen__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .fullcreen__link {
    padding: 12px 30px;
  }

  .fullcreen__image {
    height: 200px;
  }

  .pluses__container {
    padding-right: 0px;
  }

  .pluses__column {
    padding: 16px 0px 16px 5px;
  }

  .pluses__info {
    margin-left: 25px;
    max-width: 100%;
  }

  .clients__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .swiper-slide {
    max-height: 200px;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
  }
}